{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Mis perris - Registro sesión</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% block content %}
                <form class="site-form" action="/accounts/signup/" method="post">
                    <h2>Registrarse</h2>
                    <hr> {% csrf_token %} {{ form }}
                    <br>
                    <br>
                    <button>Registrar</button>
                    <br>
                    <br>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>